@media screen and (max-width: 700px) {
    #social-wrapper {
        display: none;
    }

    #pages-wrapper {
        display: none;

    }

}

@media screen and (min-width: 701px) {
    #bt-social {
        display: none;
    }

    #bt-mobile {
        display: none;

    }

}

#bt-mobile {
    height: auto;
    width: 48px;
    position: absolute;
    margin: 5px 0px 0px 5px;
}

#bt-social {
    position: absolute;
    widtH: 62px;
    height: auto;
    right: 0%;
}

body {
    margin: 0px;
}

#header {
    position: absolute;
    width: 100%;
    height: 60px;
    /*background-color: #F4F4F4;*/
    /*background-color: #3F3F3F;*/
    background-color: black;
    z-index: 2;
}

.section {
    height: 100vh;
    position: absolute;
    width: 100%;
    background-color: #D3D3D3;

}

#main h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 45vh;
    font-family: cursive;
}

#main h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 4vh;
    font-family: cursive;
}

.social-wrapper {
    display: block;
    width: 190px; /* 255px with twitter */
}

#pages-wrapper {
    height: 60px;
}

#social {
    margin: 9px;
    position: absolute;
    right: 0%;
}

#pages {
    margin: 0px;
    height: 100%;
    position: absolute;
    left: 0%;
}

#social-wrapper a {
    display: inline;
    margin: 5px 10px 0px 10px;
}

#pages-wrapper a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0px 10px 0px 10px;
    line-height: 60px;
    height: 60px;
}

#pages-wrapper a:hover {
    background-color: white;
    color: black;
}

#main {
    display: block;
}

#testimonials {
    display: none;
}

#about {
    display: none;
}

#contact {
    display: none;
}
